<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto/Roboto-Light.ttf</string>
		<string>Roboto/Roboto-Medium.ttf</string>
		<string>Roboto/Roboto-Regular.ttf</string>
		<string>Roboto/Roboto-Thin.ttf</string>
		<string>Roboto/Roboto-Bold.ttf</string>
		<string>Inter/Inter-Bold.ttf</string>
		<string>Inter/Inter-Light.ttf</string>
		<string>Inter/Inter-Medium.ttf</string>
		<string>Inter/Inter-Regular.ttf</string>
		<string>Inter/Inter-SemiBold.ttf</string>
	</array>
</dict>
</plist>
